<%= form_with(model: @transaction, url: "/create-transaction", local: true) do |form| %>
    <% if @transaction.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
  
        <ul>
          <% transaction.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <strong><%= form.label "User:" %></strong>
      <%= form.collection_select(:user_id, @users, :id, :name)  %>
    </div>
  
    <div class="field">
      <strong>Book Title:</strong>
      <%= form.label @book.title %>
      <%= form.text_field :book_id, hidden: true %>
    </div>
  
    <div class="field">
      <strong><%= form.label :return_date %></strong>
      <%= form.date_select :return_date %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  