<p id="notice"><%= notice %></p>

<h1>Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>User</th>
      <th>Book</th>
      <th>Return date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.number %></td>
        <td><%= transaction.try(:user).try(:name) %></td>
        <td><%= transaction.try(:book).try(:title) %></td>
        <td><%= transaction.return_date %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Return Book', transaction, method: :delete, data: { confirm: 'Are you sure? This Transaction will deleted after book returned.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
