<!DOCTYPE html>
<html>
  <head>
    <title>FarhanLibrary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= link_to 'Home', root_path%>
      <%= link_to 'Book List', books_path%>
      <%= link_to 'Member List', users_path%>
      <%= link_to 'Transaction List', transactions_path%>
    </div>
    <%= yield %>
  </body>
</html>
